<div class="div-question">
  <p class="question"><%= @question %></p>
  <p class="italic"><%= "-You" %></p>
</div>

<div class="div-answer">
  <%if @question == "I am going to work"%>
  <p class="answer"><%= "Great!" %></p>
  <% elsif @question.include? ('?') %>
  <p class="answer"><%= "Silly question, get dressed and go to work!"%></p>
  <% else %>
  <p class="answer"><%= "I don't care, get dressed and go to work!" %></p>
  <% end %>
  <p class="italic"><%= "-Your Coach" %></p>
</div>


<%= link_to "Ask a new question", ask_path %>
