
<h2><%= @question %></h2>

<%if @question == "I am going to work"%>
<h2><%= "Great!" %></h2>
<% elsif @question.include? ('?') %>
<h2><%= "Silly question, get dressed and go to work!"%></h2>
<% else %>
<h2><%= "I don't care, get dressed and go to work!" %></h2>
<% end %>

<%= link_to "Ask a new question", ask_path %>
